<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <h1 class="">Name: </h1>
      <input type="text" placeholder="{{currStudent.name}}" [(ngModel)]="currStudent.name" name="name" class="form-control rounded-pill" />
    </div>
    <div class="form-group">
      <h1 class="">E-mail: </h1>
      <input type="text" placeholder="{{currStudent.email}}" [(ngModel)]="currStudent.email" name="email" class="form-control rounded-pill" />
    </div>
    <div class="form-group">
      <h1 class="">Class: </h1>
      <input type="text" placeholder="{{currStudent.classID}}" [(ngModel)]="currStudent.classID" name="classID" class="form-control rounded-pill" />
    </div>
    <div class="form-group">
      <h1 class="">Balance: </h1>
      <input type="text" placeholder="{{currStudent.balance}}" [(ngModel)]="currStudent.balance" name="balance" class="form-control rounded-pill" />
    </div>

    <div class="col-12 text-right mb-5">
      <button class="btn btn-success" type="submit">Save</button>
    </div>
  </form>
</div>
