<div class="w-90 ml-auto mr-auto">
  <h1 class="text-center banner-text-4">{{ classroom.teacherName }}</h1>
  <h1 class="text-center banner-text-2">{{ dayName }}</h1>
  <h1 class="text-center banner-text-3" *ngIf="response">{{response.msg}}</h1>
  <div *ngIf="response"  class="col-12 col-sm-6 ml-auto mr-auto my-4">
    <a routerLink="/" class="CD-text-decoration">
      <div class="rounded-pill dusty-grass h-100">
        <h1 class="box-text-4 text-white text-center p-4">Home</h1>
      </div>
    </a>
  </div>
  <div class="row" *ngIf="!response">
    <form class="col-12">
      <div *ngFor="let student of students; let i = index;" class="col-12">
        <div class="rounded light-blue my-2" *ngIf="student.balance > 0">
          <div class="row p-3">
            <ul class="mb-0">
              <li>
                <h1 class="text-white">{{student.name}}</h1>
              </li>
            </ul>
            <ul class="ml-auto mr-4 float-right mb-0">
              <li class="mx-3">
                <div class="px-4 py-3 rounded-pill cursor-pointer" [ngClass]="student.choice == 'none' ? 'solid-blue' : ''" (click)="student.choice = ''">
                  <h3 class="text-white mb-0">None</h3>
                </div>
              </li>
              <li class="mx-3">
                <div class="px-4 py-3 rounded-pill cursor-pointer" [ngClass]="student.choice == 'milk' ? 'solid-blue' : ''" (click)="student.choice = 'milk'">
                  <h3 class="text-white mb-0">Milk</h3>
                </div>
              </li>
              <li class="mx-3">
                <div class="px-4 py-3 rounded-pill cursor-pointer" [ngClass]="student.choice == 'water' ? 'solid-blue' : ''" (click)="student.choice = 'water'">
                  <h3 class="text-white mb-0">Water</h3>
                </div>
              </li>
              <li *ngIf="dayName === 'Friday'" class="mx-3">
                <div class="px-4 py-3 rounded-pill cursor-pointer" [ngClass]="student.choice == 'chocoMilk' ? 'solid-blue' : ''" (click)="student.choice = 'chocoMilk'">
                  <h3 class="text-white mb-0">Chocolate Milk</h3>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 text-right mb-5 mt-3" (click)="submitOrder()">
        <button [disabled]="loading" class="btn btn-primary rounded-pill px-5 py-2">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          <h1 class="text-white mb-0">Submit</h1>
        </button>
      </div>
    </form>
  </div>
</div>
